<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.medicines.mapper.MedicinesMapper">

    <resultMap type="medicines" id="medicinesResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="manufacturers" column="manufacturers"/>
        <result property="unit" column="unit"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="warning" column="warning"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <insert id="addMedicines">
        insert into medicines(id,name,manufacturers,price,unit,stock,warning,create_by,create_time,update_by,update_time,remark)
        values(uuid(),#{name},#{manufacturers},#{price},#{unit},#{stock},#{warning},#{createBy},sysdate(),#{updateBy},sysdate(),#{remark})
    </insert>
    <update id="updateMedicines">
        update medicines
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="manufacturers != null and manufacturers != ''">
                manufacturers=#{manufacturers},
            </if>
            <if test="price != null and price != ''">
                price=#{price},
            </if>
            <if test="unit != null and unit != ''">
                unit=#{unit},
            </if>
            <if test="stock != null and stock != ''">
                    stock=#{stock},
            </if>
            <if test="warning != null and warning != ''">
                warning=#{warning},
            </if>
            <if test="remark != null and remark != ''">
                remark=#{remark},
            </if>
            update_by=#{updateBy},
            update_time=sysdate()
        </set>
        where id=#{id}
    </update>
    <delete id="deleteMedicines" parameterType="list">
        delete from medicines where id in
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getMedicines" resultType="com.ruoyi.project.medicines.domain.Medicines">
        select * from medicines
        <where>
            <if test="id != null and id != ''">
                id=#{id}
            </if>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="checkSame" resultType="int">
        select count(*) from medicines
        <where>
            name=#{name} and manufacturers=#{manufacturers}
            <if test="id != null and id != ''">
                id!=#{id}
            </if>
        </where>
    </select>
</mapper> 